PORT=3002
NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=user_db
DATABASE_USER=postgres
DATABASE_PASSWORD=

JWT_ACCESS_SECRET=your-access-secret-key-change-in-production-min-32-characters-long

SERVICE_NAME=user-service
SERVICE_HOST=localhost
